$background-gradient: to bottom, #fff 0%, #ddd 50%, #fff 50%, #eee 100%;


$color-grey-light-1: #eee;
$color-grey-light-2: #ccc;
$color-grey-light-3: #bbb;
$color-grey-light-4: #aaa;
$color-grey-dark-1: #666;

$color-blue: #035691;
$color-orange: #df770b;

$board-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
$text-shadow: 0 .2rem .5rem rgba(0, 0, 0, .5);

@mixin flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin absPosition($top, $right, $bottom, $left) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

@mixin box-shadow-inset($x, $y, $blur) {
  box-shadow: $x $y $blur rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
};

@mixin board {
  height: 30rem;
  width: 31.5%;
  border-radius: 5px;
  box-shadow: $board-box-shadow;

  @include respond(phone) {
    width: 70%;
    height: 22rem;
    margin-bottom: 2rem;
  }
}




// Media Query Manager

// 0 - 600px : Phone
// 600 - 900px : Tablet portrait
// 900 - 1200px : Tablet landscape
// [1200 - 1800px] is where our normal style apply
// 1800px + : Big desktop


// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop


// 1em = 16px (browser font size setting)
// 600px / 16px = 37.5em
// 900px / 16px = 56.25em
// 1200px / 16px = 75em
// 1800px / 16px = 112.5em

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };
  }
}
