.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.weather-box {
  display: flex;
  justify-content: space-around;

  &__index {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__temp {
    @include flexContainer;
    @include board;
  }

  &__data {
    @include flexContainer;
    @include board;
  }
}

#map {
  @include board;

}
.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3rem;
}
