.Header {
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  color: white;
  /* background-image: linear-gradient(rgba(65, 92, 182, 0.5), rgba(27, 172, 116, 0.5)); */
}

.AppTitle { 
  font-size: 2rem;
  font-family: 'Bellefair', serif;
  margin-bottom: 1rem;
}
.Header h3 { font-size: 1.5rem; }
.Header h4 { font-size: 1.25rem; }