.WeatherBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .WeatherBox {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}